.MainContainer {
  max-width: 1400px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.text {
  margin-left: 5px;
}
.mainTitle {
  margin-bottom: -12px !important;
}
.noConnection {
  margin: auto;
  max-width: 800px;
}
.internalCard {
  padding: 20px;
}
